main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
}

ul {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    gap: 30px;
    margin-bottom: 40px;    
    
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}




